
html, body, #root, .App {
  height: 100%;
  margin: 0;
  padding: 0;
    overflow-x: hidden;
  overflow-y: auto; 
  /* overflow: hidden; */
}



* {
  font-family: 'Eurostile', 'Bank Gothic', 'Microgramma', sans-serif;
}



 
.App {
  display: flex;
  flex-direction: column;
  /* font-family: 'Inter', sans-serif; */
}


.main-content {
     flex: 1; height: calc(100vh - 60px);
  overflow-y: auto; 
   overflow: visible;
    padding: 0;
    box-sizing: border-box;}


    /* overflow-x: hidden;  */
    /* min-height: 100vh; */
  /* padding: 80px 0 80px;  */
  /* padding: 85px 1rem 60px;  */



 
@media (max-width: 768px) {
  .main-content {
    padding: 70px 1rem 70px;
  }
}
 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}
 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
 

 
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}



 
.App-link {
  color: #61dafb;
}
 
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.scroll-wrapper {
  overflow-y: auto;
  max-height: 100%;
}



@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');

.leaflet-container {
  width: 100%;
  height: 250px; 
  border-radius: 8px;
}


 